.phreshcolor {
    color: #FFD75B;
}

.phreshfont {
    font-family: 'Roboto', sans-serif;
}

.welcome {
    color: #FFD75B;
    font-size: 50pt;
    position: relative;
    text-align: center;
    margin-top: 50%;
}

.loginphresh {
    position: absolute;
    top: 180px;
    left: 28px;
    color: #FFD75B;
    font-size: 90pt;
}

.loginsubheading {
    position: absolute;
    top: 335px;
    left: 28px;
    width: 355px;
    text-align: right;
    color: #FFFFFF;
    font-size: 17pt;
    font-weight: bold;
}

.largebutton {
    position: absolute;
    margin-left: 0
	margin-top: 0;
    height: 60px;
    width: 360px;
    top: 525px;
    left: 30px;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}

.facebook {
    position: absolute;
    top: 533px;
    left: 43px;
    height: 10%;
    width: 10%;
    z-index: 10;
}

.splashbackground {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

#showroomIcon{
	width: 10%;
	position: absolute;
	left: 270px;
	top: 9px;
}

.mainBanner {
    width: 320px;
    height: 50px;
}

#topBanner {
    top: 0px;
    position: absolute;
    background-color: #000000;
}

#bottomBanner {
    top: 410px;
    position: absolute;
    background-color: #000000;
}

.likeDislikeButton {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border-width: 4px;
    border-color: #000000;
    z-index: 30;

}

#likeButton {
    position: absolute;
    top: 392px;
    left: 200px;
}

#dislikeButton {
    position: absolute;
    top: 392px;
    left: 60px;
}

#infoButton {
    position: absolute;
    top: 400px;
    left: 140px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#menuIcon {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 15%;
}

#titleMain {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding-top: 11px;
}

.backArrow {
    position: absolute;
    width: 5%;
    top: 12px;
    left: 5px;
}

.shareIcon {
    position: absolute;
    width: 8%;
    top: 14px;
    left: 285px;
}

.deleteIcon {
  position: absolute;
  top: 70px;
  width: 20px;
  height: 20px;
  right: 20px;
  z-index: 20;
}

.mainProductCardTop {
    width: 320px;
    height: 360px;
    top: 50px;
    border: 0px solid #999;
    background-color: #666699;
    position: absolute;
    z-index: 10;
}

#sampleImageTop {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50px;
    z-index: 10;
}

.mainProductCardBottom {
    width: 320px;
    height: 360px;
    top: 50px;
    border: 0px solid #999;
    background-color: #666699;
    position: absolute;
}

#sampleImageBottom {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50px;
}


.cardDescription {
    position: absolute;
    top: 50px;
    width: 320px;
    height: 360px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    background-color: #FFFFFF;
    opacity: 0.6;
    z-index: 15;
    color: #000000;
	font-family: 'Roboto', sans-serif;
	overflow: scroll;
}

/*Showroom*/

body {
    background-color: #FFFFFF;
}

#wrapper {
    max-width: 60em; /* 960 px */
    margin: 0 auto;
    margin-top: 2.8em;
    padding: 0.9em;
}

#list {
    width: 100%;
    overflow: hidden;
    margin-top:1em;
    margin-bottom: -1.875em; /* 30px */
    -webkit-column-count: 3;
    -webkit-column-gap: 1.875em; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1.875em; /* 30px */
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 1.875em; /* 30px */
    column-fill: auto;
}

.item {
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .5 );
    margin-bottom: 1.875em; /* 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

@media only screen and ( max-width: 40em ) /* 640px */
{
    #list
    {
        -webkit-column-count: 2;
        -webkit-column-gap: 0.938em; /* 15px */
        -moz-column-count: 2;
        -moz-column-gap: 0.938em; /* 15px */
        column-count: 2;
        column-gap: 0.938em; /* 15px */
    }
    .item
    {
        margin-bottom: 0.938em; /* 15px */
    }
}